@import "variables";
@mixin reset-list {
  margin: $null;
  padding: $null;
  text-decoration: none;
  list-style: none;
}
@mixin text-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@mixin no-background {
  background: transparent;
}
@mixin animation-transition {
  transition: 1s all;
}
